body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	/* background-image: url(../../assets/images/concrete-texture.png); */
}
.grid-container {
	/* display: grid;
	grid-row-gap: 3px;
	grid-column-gap: 3px;
	grid-template-columns: 1fr 1fr 1fr 1fr; */
	/* grid-template-rows: 15vh 70vh 15vh;
	grid-template-areas: 
		"header header header header"
		"main main main main"
		"tech tech tech tech"
		"project project project"
		"social social social social"
		"footer footer footer footer"; */
}
.gNavBar{
	/* display: grid; */
	/* grid-area: header; */
	background-color: #4aaaa5;
	font-size: 2vh;
	text-decoration: none;
	color: #ffffff;
	border-bottom-width: 2px !important;
	border-bottom-style: solid !important;
	border-bottom-color: #cccccc !important;
}

.nicoPara{
	background-image: url(../../assets/images/nicoBG.JPG);
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.name {
	/* display: grid; */
	/* grid-area: 1 / 1 / 1 / 2; */
	justify-content: center;
    align-items: baseline;
}

.navbar-links {
	/* display: grid; */
	/* grid-area: 1 / 3 / 1 / 4; */
	justify-content: center;
    align-items: center;
}
.main{
	/* display: grid; */
	/* grid-area: main; */
	height: 300px;
}

.about {
	/* display: flex; */
	/* flex-wrap: wrap; */
	background-color: #ffffff;
	color: #666666;
	border: 1px solid #cccccc;

}
.headshot {
	flex: 75%;
	max-width: 75%;
	padding: 0 4px;
}
.bio {
	color: "#4aaaa5";
	display: flex;
	/* display: grid; */
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 800px) {
	.headshot {
	  flex: 50%;
	  max-width: 50%;
	}
  }
.social {
	text-align: center;
	color: #4aaaa5;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	/* display: grid; */
	/* grid-area: social; */
    justify-content: center;
    align-items: baseline;
}

h1,
h2 {
	
	font-family: 'Georgia', Times, "Times New Roman", serif !important;
	font-weight: bold;
}

ul,
p	{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif !important;
}

br {
	border-bottom: 4px solid #cccccc;
}


/* #github,
#linkedin,
#stacko {
	width: 60px;
	height: 60px;
	margin-left: 10px;
} */

.footer {
	/* grid-area: footer; */
	background-color: #666666;
	padding-top: 35px;
	padding-bottom: 40px;
	margin: 0;
	border-top-width: 8px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	color: #cccccc;
}


/*768px screen*/
@media screen and (max-width: 768px) {

/* ul {
	padding-top: 15px;
    padding-bottom: 15px;
	}
*/
} 


/* get to this in a bit
@media screen and (max-width: 640px){

}
*/