/*carrying over font families*/
h1,
h2 {
	
	font-family: 'Georgia', Times, Times New Roman, serif !important;
	font-weight: bold;
}

ul,
p	{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif !important;
}

/*Navbar, lots of Bootstrap overrides. Also consider
the element,class and ID weight scale for
overriding bootstrap
Full and 980px*/


nav {
	height: 90px !important; /*!important not the best way...*/
	background-color: #ffffff !important;
	border-bottom-width: 2px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #cccccc !important;
    margin-bottom: 35px !important;
    padding-left: 0%;
    padding-right: 0%;
}

span > a > h1 {
	background-color: #4aaaa5;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 88px;
	color: #ffffff;
	padding-left: 35px;
	padding-right: 35px;

}

.navbar-brand {
	padding-bottom: 0px;
	padding-top: 0px;


}



ul {
	padding-top: 20px;
	font-size: 1.25em;
	position: inherit;
}
/*About Me*/

br {
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 30px;
	border-bottom: 4px solid #cccccc;
}

#about {
	background-color: #ffffff;
	color: #666666;
	display: inline;
	float: left;
	padding-right: 4%;
	padding-left: 4%;
	border: 1px solid #cccccc;

}

#bio {
	margin: 40px 8.33% 40px 8.33%;
}

#foot {
	height: 90px;
	clear: both;
	background-color: #666666;
	padding-top: 35px;
	padding-bottom: 40px;
	margin: 0 auto;
	border-top-width: 8px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	color: #cccccc;
}


/*768px screen*/
@media screen and (max-width: 768px) {

ul {
	padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    display: inline;
    float: left;

	}





}


@media screen and (max-width: 640px){


}