body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}
.flex-container{
	display: flex;
	flex-direction: column;
}

.gNavBar{
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
	background-color: #d7c78c;
	font-size: 2vh;
	text-decoration: none;
	color: #ffffff;
	border-bottom-width: 2px !important;
	border-bottom-style: solid !important;
	border-bottom-color: #cccccc !important;

}
.name {
	display: flex;
	justify-content: flex-start;
	margin-left: 2vw;
}

.navbar-links {
	display: flex;
	justify-content: flex-end;
	margin-right: 2vw;
}
.navbar-links > a {
	margin-right: 1vw;
	margin-left: 1vw;
}
.abfBG{
	background-image: url(../../assets/images/abfBG.JPG);
	height: 70vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.main{
	height: 45vh;
	background-color: #ffffff;
	color: #666666;
	border: 1px solid #cccccc;
}


.headings {
	color: #666666;
	text-align: center;

}

.agrippaBG{
	background-image: url(../../assets/images/agrippaBG.JPG);
	height: 50vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

/* Tech Stack */
.towBG{
	background-image: url(../../assets/images/towBG.JPG);
	height: 50vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

/* Projects */
.nicoPara{
	background-image: url(../../assets/images/nicoBG.JPG);
	height: 50vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.social {
	text-align: center;
	color: #4aaaa5;
	background-color: #ffffff;
	border: 1px solid #cccccc;
    justify-content: center;
	align-items: baseline;
}

h1,
h2 {
	
	font-family: 'Georgia', Times, "Times New Roman", serif !important;
	font-weight: bold;
}

ul,
p	{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif !important;
}

br {
	border-bottom: 4px solid #cccccc;
}


/* #github,
#linkedin,
#stacko {
	width: 60px;
	height: 60px;
	margin-left: 10px;
} */

.footer {
	background-color: #666666;
	padding-top: 35px;
	padding-bottom: 40px;
	margin: 0;
	border-top-width: 8px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 12px;
	color: #cccccc;
}


/*
	768px screen
@media screen and (max-width: 768px) {

} 


	get to this in a bit
@media screen and (max-width: 640px){

}
*/